<form class="container"
  [formGroup] = "form">
  <h1>Converter</h1>
  <input type = "text" name="decimal" 
  (ngModelChange) = "decimalChanged(oldValue, newValue = $event)" 
  placeholder="decimal" 
  formControlName="decimal">
  <br>
  <input type ="text" name="binary" 
  (ngModelChange) = "binaryChanged(oldValue, newValue = $event)" 
  placeholder="binary" formControlName="binary"> 
  <br>
  <input type ="text" name="octal" 
  placeholder="octal" formControlName="octal">
  <br>
  <input type ="text" name="hexa" placeholder="hexa" formControlName="hexa">
  <br>
  <br>
</form>